html {
	box-sizing: border-box;
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

* {box-sizing:border-box;font-family: "Microsoft YaHei";}
body, html {padding:0; margin:0} 

h1,h2,h3,h4,h5,h6,h7{
	margin:5px 0;
}

::-webkit-scrollbar-thumb:horizontal {
	width: 5px;
	background-color: #CCC;
	-webkit-border-radius: 6px
}

::-webkit-scrollbar-track-piece {
	background-color: #FFF;
	-webkit-border-radius: 0
}

::-webkit-scrollbar {
	width: 5px;
	height: 8px
}

::-webkit-scrollbar-thumb:vertical {
	height: 50px;
	border: 0 solid #FFF;
	background-color: #999;
	-webkit-border-radius: 4px;
	outline: 1px solid #FFF
}

::-webkit-scrollbar-thumb:hover {
	height: 50px;
	background-color: #9F9F9F;
	-webkit-border-radius: 4px
}

.post-header-meta{
	position: absolute;
	top:50%;
	transform: translateY(-50%);
}

.navbar-custom{

	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
}

.post-header-meta h1{
	color:white;
	font-size: 50px;
	font-weight: 600;
}

.header-meta {
	display: inline-table;
	text-rendering: auto;
	color: #ffffff;
    margin-top: 10px;
}

.header-meta span{
	height:100%;  
	font-size:20px;
	margin-right:10px;
	vertical-align:middle; 
	line-height:10px;
}

.header-meta img{
	border-radius: 100%;
	vertical-align:middle;
	margin-top: -6px;
}

.banner{
	padding-bottom: 80vh;
	background-image: -webkit-linear-gradient(top, rgba(23, 24, 32, 0.15), rgba(23, 24, 32, 0.15)), url('../img/cover.jpg');
	top: 0;
	width: 100%;
    background-position: top center;
	position: relative;
	background-repeat: no-repeat;
    background-attachment: fixed;
	animation-duration: 0.3s;
}

.col-center-block {  
    float: none;  
    display: block;  
    margin-left: auto;  
    margin-right: auto;  
}  

.list {
	padding-bottom:6vh;
}

.list small{
	padding:0px 5px;
}

.list a{
	color: #504f4f;
}

.list a:hover{
	    text-decoration: none;
}

.main{
	padding-top:5vh;
}

.post-meta{
	padding:15px 15px;
	white-space:nowrap;
	display:flex;
    display:-webkit-flex;
    justify-content:space-between;
}

.post-left{
	display: inline-table;
	text-rendering: auto;
	width:100%;
}

.post-meta img {
    border-radius: 100%;
	margin-right:15px;
	margin-bottom: 10px;
	display: inline-block;
	vertical-align: middle;
}

.article {
	margin-top:3vh;
	color:#4a4747;
}

.date {
    margin-top: 14px;
	font-size:14px;
}

.in , .date {
	color: #C7C7C7;
    line-height: 20px;
}

blockquote:after,blockquote:before,q:after,q:before {
	content: ""
}

.post-content img{
	margin:1rem 0;
}

.post-content p{
    text-indent: 1em;
}

.post-content p , .post-content dd , .post-content ul , .post-content ol , .post-content pre , .post-content li {
    margin: 0 0 10px;
    text-align: justify;
    text-justify: inter-ideograph;
    word-wrap: break-word;
    line-height: 30px;
    word-break: break-all;
}

blockquote,q {
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	quotes: none
}

blockquote {
	border-left: 5px solid rgba(62, 61, 61, 0.8);
	font-weight: 400;
	letter-spacing: .01rem;
	margin: 30px 0;
	padding-left: 20px
}

pre {
	padding: 0 20px;
	white-space: pre-wrap;
	word-wrap: break-word;
	font: 14px/22px 'courier new';
	position: relative;
	margin: 40px 0;
	background-color: #f8f8f8
}

pre:after,pre:before {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #2f76bb
}

pre:before {
	content: ""
}

pre:after {
	content: "";
}


.bd-footer {
    font-size: 85%;
    background-color: #f7f7f7;
	text-align: left;
	margin-top:10vh;
}

.bd-footer p {
    margin-bottom: 0;
}

code {
	padding: 2px;
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-word;
	letter-spacing: 0;
	font: 14px/26px 'courier new';
	border-radius: 3px
}

pre code {
	padding: 0;
	border-radius: 0
}

.comment-list{
	list-style:none;
}

.comment-list .avatar{
	border-radius: 100%;
	height:40px;
	width:40px;
	margin: 10px;
}

.comment-children{
	margin-top:30px;
}

#comments h4{
	margin:2rem 0;
}

.opaque {position:absolute; top:0; left:0; right:0; bottom:0; opacity:0; background:#d2d6f1;}
.lt-ie9 .opaque {display:none;}

  .headroom {
  	position: fixed;
  	top: 0;
  	left: 0;
  	right: 0;
  	transition: all .3s ease-in-out;
  }
  .headroom--unpinned {
  	top: -100px;
  }
  .headroom--pinned {
  	top: 0;
	transition: background-color .3s;
	background-color: rgba(255, 255, 255, .9);
	
  }
  
  .headroom--top{
	  background-color: rgba(255, 255, 255, .0);
  }
  
.headroom--pinned  a{
	  color: #000 !important;
  }
  
 .headroom--top a{
	 color: #fff !important;
 }
  
@media (max-width:1024px) {
	.banner{
		background-position: top;
		background-size: cover;
	}
}

@media (max-width:600px) {
	.banner{
		background-position: top;
		background-size: cover;
	}
	
	.post-header-meta h1{
		font-size: 2.5rem;
		white-space:normal; word-break:break-all;
	}
	
	h1, h2 , h3 {
		white-space:normal; word-break:break-all;
	}
	

}